.mat-card{
    max-width: 400px;
    margin: 0 auto 30px auto;
    padding-bottom: 20px;
    &-avatar{
        background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
    }    
    &-actions{
        padding-bottom: 5px;
    }
}